<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My Shucking Field Notes</h1>
    <h2>An Oyster Guide to the Puget Sound</h2>
    <hr>
    </br>
    <ul>
        <% for(let i = 0; i < oysters.length; i++){ %>
            <li>
                <a href="/oysters/<%=oysters[i].id%>">
                  <%=oysters[i].name%>
                </a>

            </li>
        <% } %>
    </ul>
    <nav>
        <a href="/oysters/new">Add an Oyster Finding!</a>
    </nav>

  </body>
</html>
