<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|IM+Fell+English+SC" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo">
          <h1>My Shucking Field Notes</h1>
          <div class="icon">
            <h2>An Oyster Guide to the Puget Sound</h2>
            <img class="oyster-png" src="images/oyster.png" alt="oyster">
          </div>
        </div>
        <div class="buttons">
          <nav>
              <ul>
                  <li><a href="/users/new">Register</a></li>
                  <li><a href="/sessions/new">Log In</a></li>

                  <% if(currentUser) { %>
                  <li>
                    <form action="/sessions?_method=DELETE" method="POST">
                      <input type="submit" value="Logout"/>
                    </form>
                  </li>
                  <% } %>
              </ul>
          </nav>
        </div>
      </div>
      <div class="main">
        <div class="welcome">
          <div class="shucker">
            <p>
              <% if(currentUser) { %>
                Hey, <%=currentUser.username%>!
              <% } else { %>
                Hey, Shucker!
              <% } %>
            </p>
          </div>
        </div>
        <div class="list">
          <ul class="oysters">
              <% for(let i = 0; i < oyster.length; i++){ %>
                  <li class="oyster">
                      <a href="/oysters/<%=oyster[i].id%>">
                        <%=oyster[i].name%>
                      </a>
                  </li>
              <% } %>
          </ul>
        </div>

          <nav>
              <a class="create" href="/oysters/new">Add an Oyster Finding!</a>
          </nav>
      </div>
      <div class="footer">
        <h3>Crafted by <a href="https://www.linkedin.com/in/austynheinlein/">Austyn Heinlein</a></h3>
      </div>
    </div>
  </body>
</html>
