

/* * {
  border: 1px solid red;
} */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #3a3a3a;
  margin: 0px;
  width: 100%;
}
.logo {
  display: flex;
  flex-direction: column;
  background-color: #3a3a3a;
  color: white;
  padding-left: 15px;
  padding-right: 10px;
}
.buttons {
  display: flex;
  background-color:#f76262;
  padding-right: 13px;
  padding-left: 13px;
}
.buttons ul {
  border: none;
}
input[type=submit]{
  background: #f76262;
  font-family: 'Cormorant Garamond', serif;
  border: none;
  color: white;
  font-size: 16px;
  padding-left: 0px;
  font-weight: bold;
  cursor: pointer;
}
input[type=submit]:hover{
  color: #51ccab;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
nav a:hover {
  color: #51ccab;
}
nav li {
  padding-top: 10px;
}
.create {
  display: flex;
  color: #3a3a3a;
  margin-top: 20px;
  margin-bottom: 50px;
  background: #efefef;
  font-size: 20px;
  padding: 40px;
  border: 3px solid #51ccab;
}
.create:hover {
  color: #f96b6b;
  border: 3px solid #f96b6b;
}
h1 {
  font-size: 50px;
  font-family: 'IM Fell English SC', serif;
  font-weight: lighter;
  margin-bottom: 8px;
  padding: 10px;
  border: 3px solid white;
  text-align: center;
}
h2 {
  font-size: 30px;
  margin-top: 14px;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-left: 18px;
}
.icon {
  display: flex;
  flex-direction: row;
}
.oyster-png {
  height: 70px;
  width: 70px;
  margin-left: 40px;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 15px;
  flex-direction: column;
  border: 7px solid #3a3a3a;
  max-width: 800px;
}
.oysters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.oyster {
  width: 135px;
  height: 135px;
  margin: 7px;
  background: #f76262;
  border: 3px solid #f76262;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oyster:hover {
  background: #ff9191;
  cursor: pointer;
  border: 3px solid #3a3a3a;

}
.oyster a {
  text-decoration: none;
  color: white;
  font-family: 'IM Fell English SC', serif;
  font-size: 20px;
}
.oyster a:hover {
  color: #3a3a3a;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

}
.welcome {
  margin: 0px;
  width: 100%;
  border-bottom: 7px solid #51ccab;
  background-image: url('/images/oyster-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.shucker {
  color: #3a3a3a;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 0.4em white
}
.shucker p {
  width: 200px;
  background: rgba(225,225,225,.6);
  padding: 25px;
}

h3 {
  padding: 20px;
  color: white;
  text-align: center;
}
h3 a {
  text-decoration: none;
  color: #f76262;
}
.footer {
  margin: 0;
  width: 100%;
  background-color: #3a3a3a;
  border-top: 7px solid #51ccab;
}
