<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/show.css">
        <link rel="image" href="/images/oyster-banner.css">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|IM+Fell+English+SC" rel="stylesheet">
    </head>
    <body>
      <div class="header">
        <h1>Create User</h1>
        <img class="oyster-png" src="/images/oyster.png" alt="oyster">
      </div>
      <div class="main">
        <form action="/users" method="POST">
            <input class="type" type="text" name="username" placeholder="username"/>
            <input class="type" type="password" name="password" placeholder="password"/>
            <input type="submit" value="Create User" />
        </form>
      </div>

    </body>
</html>
